*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header{
  height:70px;
  background: #47a2f1;
  color: #ffffff;
  text-align: center;
}
